<section class="page__deals deals">
    <div class="deals__container">
        <div class="deals__header header-deals">
            <div class="header-deals__content">
                <h2 class="header-deals__title title">Best Real Estate Deals</h2>
                <div class="header-deals__text">Colonel gravity get thought fat smiling add but. Wonder twenty hunted
                    and
                    put income set desire expect.</div>
            </div>
            <a href="" class="header-deals__link">View All Property</a>
        </div>
        <div class="deals__tabs tabs-deals">
            <nav class="tabs-deals__nav">
                <button type="button" class="tabs-deals__button active">Residential Property</button>
                <button type="button" class="tabs-deals__button">Commercial Property</button>
                <button type="button" class="tabs-deals__button">Agriculture Property</button>
                <button type="button" class="tabs-deals__button">Industrial Property</button>
            </nav>
            <div class="tabs-deals__body">
                <div class="tabs-deals__item item-tabs active">
                    <div class="item-tabs__items">
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                                <a href="" class="item-tabs__option">3D</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/01.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                                <a href="" class="item-tabs__option">3D</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/02.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/03.jpg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tabs-deals__item item-tabs">
                    <div class="item-tabs__items">
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                                <a href="" class="item-tabs__option">3D</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/01.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/03.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                                <a href="" class="item-tabs__option">3D</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/01.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/03.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/03.jpg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tabs-deals__item item-tabs">
                    <div class="item-tabs__items">
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                                <a href="" class="item-tabs__option">3D</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/02.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/03.jpg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tabs-deals__item item-tabs">
                    <div class="item-tabs__items">
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                                <a href="" class="item-tabs__option">3D</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/01.jpg" alt="image">
                            </a>
                        </div>
                        <div class="item-tabs__item">
                            <div class="item-tabs__options">
                                <a href="" class="item-tabs__option">Featured</a>
                                <a href="" class="item-tabs__option">3D</a>
                            </div>
                            <a href="" class="item-tabs__image">
                                <img src="/src/images/deals/02.jpg" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>