<section class="page__main main-block">
    <div class="main-block__container">
        <div class="main-block__body body-main-block">
            <div class="body-main-block__content content-main-block">
                <div class="content-main-block__sub-title">RESIDENTIAL & OFFICE SPACES</div>
                <h1 class="content-main-block__title">Smart Living Style for Smart People</h1>
                <div class="content-main-block__text">Much did had call new drew that kept. Limits expect wonder law
                    she. Now has you views woman noisy match money rooms.</div>
                <form class="content-main-block__form form-main-block" action="#">
                    <input type="text" class="form-main-block__input">
                    <button type="submit" class="form-main-block__button">Search Now!</button>
                </form>

            </div>
            <div class="body-main-block__slider"></div>
        </div>
        <div class="main-block__partners partners-main-block">
            <div class="partners-main-block__label">Our Amazing Partners</div>
            <div class="partners-main-block__items">
                <div class="partners-main-block__item">


                </div>
            </div>

        </div>
    </div>
</section>